$primaryColor: #7950f2;
$text: #030229;
.leftBar {
  height: fit-content;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  box-sizing: border-box;

  .logo {
    margin: 10px 0;
    width: 101px;
    height: 63px;
  }

  .featureContainer {
    width: 100%;

    .featureElement {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 3px 0;
      cursor: pointer;
      border: 0;
      border-radius: 10px;

      p {
        height: fit-content;
      }

      .featureLogo {
        font-size: 1.1rem;
        padding: 10px;
      }
      + :hover {
        color: white;
        background-color: $primaryColor;
      }
    }
    .active {
      color: white;
      background-color: $primaryColor;
    }
  }

  .lastFeatureContainer {
    width: 100%;
    margin-top: 30px;
    .lastFeature {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      border: 0;
      cursor: pointer;
      background-color: #e8e9ff;
    }
  }
}

.navBar {
  width: 100%;
  box-sizing: border-box;
  margin: 20px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .searchBox {
    display: flex;
    padding: 2px;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background-color: #fcfcfd;
    .inputBox {
      border: 0;
      outline: 0;
      padding: 2px;
      margin-left: 5px;
      font-size: larger;
      background: transparent;
    }
  }

  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .dateElement {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      padding: 10px;
      border: 1px solid #a0a3bd;
      border-radius: 10px;
      p {
        margin: 0 5px;
        display: flex;
        align-items: center;
      }
    }

    .personalInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e8eff7;
      border-radius: 10px;
      margin-left: 10px;
      height: 40px;
      width: 250px;
      color: #373b5c;
      div {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          $size: 30px;
          height: $size;
          width: $size;
          border-radius: 5px;
          margin: 5px;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          height: 100%;
          small {
            font-size: 10px;
          }
        }
      }
      .logOutButtonContainer{
        position: relative;
        cursor: pointer;
        button{
          cursor: pointer;
          position:absolute;
          top:35px;
          right:-60%;
          padding:4px;
          border:1px solid rgba(128, 128, 128, 0.592);
          border-radius: 5px;
          background-color: #9f9f9f67;
          font-size:14px;
          font-weight:600;
        }
        button:hover{
          background-color: #787777a7;
          color:$primaryColor;
        }
      }
    }
  }
}

.about {
  box-sizing: border-box;
  margin: 20px;
  padding: 10px 0 10px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  // background: red;
  color: $text;
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }
}

.activityContainer {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-between;

  .card {
    flex-grow: 1;
    margin: 0 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    div {
      margin: 0 10px;
      font-size: small;
      .content {
        margin: 5px;
        color: $text;
      }

      .rate {
        margin: 5px;
        color: #9f9f9f;
      }
    }
    .icon {
      $size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $size;
      width: calc($size + 30px);
      height: calc($size + 30px);
      box-sizing: border-box;
      border-radius: 100%;
      color: white;
      background-color: $primaryColor;
    }
  }
  h4 {
    font-size: x-large;
    color: $text;
  }
}
